<div class="card">
  <img src="https://placehold.co/230x300" alt="Sombras do Amanhã" />
  <h3>Sombras do Amanhã</h3>
  <p class="descricao">
    Um herói improvável embarca em uma jornada para salvar o mundo de uma ameaça
    misteriosa.
  </p>
  <p class="info"><strong>Data:</strong> 12/07/2024</p>
  <p class="info"><strong>Gênero:</strong> Ação / Aventura</p>
</div>
