<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head') %>
  <body>
    <!-- menu de opções -->
    <%- include('./partials/menu') %>

    <header>
      <h1>Filmes de Ação</h1>
      <p>Adrenalina e emoção do início ao fim</p>
    </header>

    <%- include('./partials/tabela') %>
  </body>
</html>
