<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head') %>
  <body>
    <!-- <h2>Debug dos dados</h2>
    <pre><%= JSON.stringify(dados, null, 2) %></pre> -->

    <!-- menu de opções -->
    <%- include('./partials/menu') %>

    <header>
      <h1>Filmes Mais Vistos</h1>
      <p>Os maiores sucessos do momento</p>
    </header>

    <section class="filmes">
      <h2>Em Destaque</h2>

      <div class="cards">
        <% dados.forEach((filme)=>{ %> <%- include('./partials/card', { filme:
        filme }) %> <%}) %>
      </div>
    </section>
  </body>
</html>
